# IDE Settings
.idea

# Environment Variables
*.env

# Python
venv/
__pycache__/
*/__pycache__/
backend/.pytest_cache/

# macOS meta files
.DS_Store

# testing
backend/tests/test_data/
backend/tests/test_data/*
test_result.xml